<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="src/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

    <title>CRIE Delivery</title>
    <script src="src/js/configuracoes.js"></script>
    
</head>
<body>
    <nav class="sidebar">
        <a href="#" class="logo">CRIE_Ti</a>

        <div class="menu-content">
            <ul class="menu-items">
                <div class="menu-title">Menu Principal</div>

                <li class="item">
                    <a href="home.html">Home</a>
                </li>

                <li class="item">
                    <div class="submenu-item">
                        <span>Cadastros</span>
                        <i class="fa-solid fa-circle-chevron-right"></i>
                    </div>

                    <ul class="menu-items submenu">
                        <div class="menu-title">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                            Cadastros
                        </div>
                        <li class="item">
                            <a href="cadcliente.html">Clientes</a>
                        </li>
                        <li>
                            <a href="#">Transportadores</a>
                        </li>
                        <li>
                            <a href="usuario.html">Usuarios</a>
                        </li>
                         <li>
                            <a href="cadprodutos.html">Produtos</a>
                        </li>
                    </ul>

                </li>

                <li class="item">
                    <div class="submenu-item">
                        <span>Cadastros Complementares</span>
                        <i class="fa-solid fa-circle-chevron-right"></i>
                    </div>

                    <ul class="menu-items submenu">
                        <div class="menu-title">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                            Cadastros Complementares
                        </div>
                        <li class="item">
                            <a href="frmpagamento.html">Formas de Pagamento</a>
                        </li>
                        <li class="item">
                            <a href="unidade.html">Unidades</a>
                        </li>
                        <li class="item">
                            <a href="grupoproduto.html">Grupos</a>
                        </li>
                        <li class="item">
                            <a href="prazopagamento.html">Prazo de Pagamento</a>
                        </li>
                        <li class="item">
                            <a href="tipofrete.html">Tipo de Frete</a>
                        </li>
                    </ul>
                </li>

                <li class="item">
                    <div class="submenu-item">
                        <span>Relatórios</span>
                        <i class="fa-solid fa-circle-chevron-right"></i>
                    </div>

                    <ul class="menu-items submenu">
                        <div class="menu-title">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                            Relatórios
                        </div>
                        <li class="item">
                            <a href="#">Pedidos</a>
                        </li>
                        <li class="item">
                            <a href="#">Cadastros</a>
                        </li>
                        <li class="item">
                            <a href="#">Financeiro</a>
                        </li>                        
                    </ul>
                </li>

                <li class="item">
                    <div class="submenu-item">
                        <span>Movimentações</span>
                        <i class="fa-solid fa-circle-chevron-right"></i>
                    </div>

                    <ul class="menu-items submenu">
                        <div class="menu-title">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                            Movimentações
                        </div>
                        <li class="item">
                            <a href="pedidos.html">Pedidos de Venda</a>
                        </li>
                    </ul>
                </li>

                <li class="item">
                    <a href="configuracoes.html">Configurações</a>
                </li>
            </ul>
        </div>                   
    </nav>

    <nav class="navbar">
        <i class="fa-solid fa-bars" id="sidebar-close"></i>
    </nav>

    <main>
        <div>
            <h1>Painel de Configurações</h1>
            <table>
                <thead>
                    <tr>
                        <th>Configurações de E-mail</th>
                    </tr>
                </thead>
                <tbody style="text-align: left;">
                    <tr> 
                        <td> 
                            <label for="hostname">Host Name:</label>                        
                            <input type="text" id="hostname" name="hostname">               
                        </td>                   
                    </tr>
                    <tr>
                        <td>                        
                            <label for="emailfrom">Email de retorno:</label>                        
                            <input type="email" id="emailfrom" name="emailfrom">                                           
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="portname">Porta:</label>
                            <input type="text" id="portname" name="portname">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="emailusername">Nome de Usuario:</label>
                            <input type="text" id="emailusername" name="emailusername">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="emailpassword">Senha:</label>
                            <input type="text" id="emailpassword" name="emailpassword">
                        </td>
                    </tr>
                </tbody>                
            </table>
        </div>
    </main>   
    
</body>
    <script src="src/js/style.js"></script>
    <script src="src/js/login.js"></script>
    <script>verificaLogin()</script>
    <script>carregaConfiguracoes()</script>
</html>