<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="src/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

    <title>CRIE Delivery</title>
   
</head>
<body>
    <nav class="sidebar">
        <a href="#" class="logo">CRIE_Ti</a>

        <div class="menu-content">
            <ul class="menu-items">
                <div class="menu-title">Menu Principal</div>

                <li class="item">
                    <a href="home.html">Home</a>
                </li>

                <li class="item">
                    <div class="submenu-item">
                        <span>Cadastros</span>
                        <i class="fa-solid fa-circle-chevron-right"></i>
                    </div>

                    <ul class="menu-items submenu">
                        <div class="menu-title">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                            Cadastros
                        </div>
                        <li class="item">
                            <a href="cadcliente.html">Clientes</a>
                        </li>
                        <li>
                            <a href="#">Transportadores</a>
                        </li>
                        <li>
                            <a href="usuario.html">Usuarios</a>
                        </li>
                         <li>
                            <a href="cadprodutos.html">Produtos</a>
                        </li>
                    </ul>

                </li>

                <li class="item">
                    <div class="submenu-item">
                        <span>Cadastros Complementares</span>
                        <i class="fa-solid fa-circle-chevron-right"></i>
                    </div>

                    <ul class="menu-items submenu">
                        <div class="menu-title">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                            Cadastros Complementares
                        </div>
                        <li class="item">
                            <a href="frmpagamento.html">Formas de Pagamento</a>
                        </li>
                        <li class="item">
                            <a href="unidade.html">Unidades</a>
                        </li>
                        <li class="item">
                            <a href="grupoproduto.html">Grupos</a>
                        </li>
                        <li class="item">
                            <a href="prazopagamento.html">Prazo de Pagamento</a>
                        </li>
                        <li class="item">
                            <a href="tipofrete.html">Tipo de Frete</a>
                        </li>
                        <li class="item">
                            <a href="cadmarca.html">Marca</a>
                        </li>
                    </ul>
                </li>

                <li class="item">
                    <div class="submenu-item">
                        <span>Relatórios</span>
                        <i class="fa-solid fa-circle-chevron-right"></i>
                    </div>

                    <ul class="menu-items submenu">
                        <div class="menu-title">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                            Relatórios
                        </div>
                        <li class="item">
                            <a href="#">Pedidos</a>
                        </li>
                        <li class="item">
                            <a href="#">Cadastros</a>
                        </li>
                        <li class="item">
                            <a href="#">Financeiro</a>
                        </li>                        
                    </ul>
                </li>

                <li class="item">
                    <div class="submenu-item">
                        <span>Movimentações</span>
                        <i class="fa-solid fa-circle-chevron-right"></i>
                    </div>

                    <ul class="menu-items submenu">
                        <div class="menu-title">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                            Movimentações
                        </div>
                        <li class="item">
                            <a href="pedidos.html">Pedidos de Venda</a>
                        </li>
                    </ul>
                </li>

                <li class="item">
                    <a href="configuracoes.html">Configurações</a>
                </li>
            </ul>
        </div>                   
    </nav>

    <nav class="navbar">
        <i class="fa-solid fa-bars" id="sidebar-close"></i>
    </nav>

    <main>
        <div class="divmain">
            <div class="mainheader">
                <h2>Cadastro de Formas de Pagamento</h2>
                <button class="btnacao" onclick="openModalFormaPagamento(null);">Incluir</button>
            </div>

            <div class="pesquisa">
                <div>
                    <label for="campopesquisa">Pesquisa:</label>
                    <input type="text" name="campopesquisa" id="campopesquisa">
                    <button class="btnacao" onclick="buscaFormaPagamentoPorNome()">Busca</button>
                </div>
            </div>
            
            <div class="tabela">
                <table>
                    <thead>
                        <tr>
                            <th>Editar</th>
                            <th>Excluir</th>
                            <th>Código</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-frmpagamento"></tbody>
                </table>
            </div>                            
        </div>
        
        <div class="modal-container">
            <div class="modal">
                <form onsubmit="return false">
                    <input type="text" id="idformapagamento" style="display: none;">
                    <label for="descricaofrmpagamento">Descrição</label>
                    <input name="descricaofrmpagamento" type="text" id="descricaofrmpagamento" placeholder="descrição do pagamento">
                    <button class="btnacao" onclick="gravaFrmPagamento();">Gravar</button>
                </form>
            </div>
        </div>
    </main>
</body>

<script src="src/js/login.js"></script>
<script src="src/js/style.js"></script>
<script src="src/js/funcoes.js"></script>
<script src="src/js/formapagamento.js"></script>
<script>
    function start()
    {
        verificaLogin()
        montaTabelaFormaPagamento()
    }
    start();
</script> 

</html>