<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="src/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

    <title>CRIE Delivery</title>
    
</head>
<body>
    
    <nav class="sidebar">
        <a href="#" class="logo">CRIE_Ti</a>

        <div class="menu-content">
            <ul class="menu-items">
                <div class="menu-title">Menu Principal</div>

                <li class="item">
                    <a href="home.html">Home</a>
                </li>

                <li class="item">
                    <div class="submenu-item">
                        <span>Cadastros</span>
                        <i class="fa-solid fa-circle-chevron-right"></i>
                    </div>

                    <ul class="menu-items submenu">
                        <div class="menu-title">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                            Cadastros
                        </div>
                        <li class="item">
                            <a href="cadcliente.html">Clientes</a>
                        </li>
                        <li>
                            <a href="#">Transportadores</a>
                        </li>
                        <li>
                            <a href="usuario.html">Usuarios</a>
                        </li>
                         <li>
                            <a href="cadprodutos.html">Produtos</a>
                        </li>
                    </ul>

                </li>

                <li class="item">
                    <div class="submenu-item">
                        <span>Cadastros Complementares</span>
                        <i class="fa-solid fa-circle-chevron-right"></i>
                    </div>

                    <ul class="menu-items submenu">
                        <div class="menu-title">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                            Cadastros Complementares
                        </div>
                        <li class="item">
                            <a href="frmpagamento.html">Formas de Pagamento</a>
                        </li>
                        <li class="item">
                            <a href="unidade.html">Unidades</a>
                        </li>
                        <li class="item">
                            <a href="grupoproduto.html">Grupos</a>
                        </li>
                        <li class="item">
                            <a href="prazopagamento.html">Prazo de Pagamento</a>
                        </li>
                        <li class="item">
                            <a href="tipofrete.html">Tipo de Frete</a>
                        </li>
                    </ul>
                </li>

                <li class="item">
                    <div class="submenu-item">
                        <span>Relatórios</span>
                        <i class="fa-solid fa-circle-chevron-right"></i>
                    </div>

                    <ul class="menu-items submenu">
                        <div class="menu-title">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                            Relatórios
                        </div>
                        <li class="item">
                            <a href="#">Pedidos</a>
                        </li>
                        <li class="item">
                            <a href="#">Cadastros</a>
                        </li>
                        <li class="item">
                            <a href="#">Financeiro</a>
                        </li>                        
                    </ul>
                </li>

                <li class="item">
                    <div class="submenu-item">
                        <span>Movimentações</span>
                        <i class="fa-solid fa-circle-chevron-right"></i>
                    </div>

                    <ul class="menu-items submenu">
                        <div class="menu-title">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                            Movimentações
                        </div>
                        <li class="item">
                            <a href="pedidos.html">Pedidos de Venda</a>
                        </li>
                    </ul>
                </li>

                <li class="item">
                    <a href="configuracoes.html">Configurações</a>
                </li>
            </ul>
        </div>                   
    </nav>

    <nav class="navbar">
        <i class="fa-solid fa-bars" id="sidebar-close"></i>
    </nav>

        <main class="main">
        <div class="divmain">
            <div class="mainheader">
                <h2>Pedidos</h2>
                <button class="btnacao" onclick="openModalPedidos(null);">Incluir</button>
            </div>
            
            <div class="tabela">
                <table>
                    <thead>
                        <tr>
                            <th>Editar</th>
                            <th>Excluir</th>
                            <th>Itens</th>
                            <th>Código</th>
                            <th>Cliente</th>
                            <th>Data</th>
                            <th>Situacao</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-pedido"></tbody>
                </table>
            </div>                            
        </div>
        
        <div class="modal-container">
            <div class="modal">
                
                <form onsubmit="return false">                    
                    <div class="tab">
                        <button class="tablinks" onclick="openPedido(event, 'pedido')">Pedido</button>
                        <button class="tablinks" onclick="openPedido(event, 'pedidoitens')">Produtos</button>
                    </div>
                    <div class="tabcontent" id="pedido">
                        <label for="idpedido">Pedido N°</label>
                        <input type="text" id="idpedido" readonly class="idpedido">                    
                        <div class="divpedido">
                            <label class="label" for="datapedido">Data:</label>
                            <input type="date" id="datapedido" />
                            
                            <label class="label" for="situacaopedido">Situacao:</label>
                            <!--<input name="situacaopedido" type="text" id="situacaopedido" placeholder="situacao do pedido">-->
                            <select name="situacaopedido" id="situacaopedido">
                                <option value="00">Cancelado</option>
                                <option value="10">Emitido</option>
                                <option value="20">Pago</option>
                                <option value="30">Enviado</option>
                                <option value="40">Entregue</option>
                                <option value="50">Concluído</option>
                            </select>
                            
                        </div>
                        <div style="border: 1px solid; display: flex; flex-direction: row; justify-content: center; padding: 10px;">
                            <label class="label" for="observacaopedido">Observação:</label>
                            <textarea name="observacaopedido" id="observacaopedido" cols="60" rows="2"></textarea>
                        </div>
                        <div style="border: 1px solid;">
                            <label class="label" for="selectformapagamento">Forma de Pagamento:</label>
                            <select name="selectformapagamento" id="selectformapagamento"></select>
                            
                            <label class="label" for="selectprazopagamento">Prazo de Pagamento:</label>
                            <select name="selectprazopagamento" id="selectprazopagamento"></select>
                            
                            <label class="label" for="selecttipofrete">Tipo de Frete:</label>
                            <select name="selecttipofrete" id="selecttipofrete"></select>
                        </div>
                        <div class="divpedido">
                            <label class="label" for="codigocliente">Cliente:</label>
                            <input name="codigocliente" type="number" id="codigocliente" style="width: 50px;" maxlength="4">
                            <input name="nomecliente" type="text" id="nomecliente">
                            <button class="btn" onclick=""><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>                 
                        <button class="btnacao" onclick="gravarPedido()">Gravar</button>
                        <button class="btnexcluir">Cancelar</button>
                    </div>

                    <div class="tabcontent" id="pedidoitens">
                        <div class="divpedidoitem">
                            <label for="idproduto">Produto</label>
                            <input type="number" name="idproduto" id="idproduto" class="idproduto">
                            
                        </div>
                        <input type="text" placeholder="quantidade produto">
                    </div>

                </form>
            </div>
        </div>
    </main> 
    
</body>
    <script src="src/js/style.js"></script>
    <script src="src/js/login.js"></script>
    <script src="src/js/cadpedidos.js"></script>
    <script src="src/js/formapagamento.js"></script>
    <script src="src/js/prazopagamento.js"></script>
    <script src="src/js/tipofrete.js"></script>
    <script src="src/js/cadclientes.js"></script>
    <script>
    async function start()
    {
        await verificaLogin()
        await listarPedidos()
        await montaSelectFormaPagamento()
        await montaSelectPrazoPagamento()
        await montaSelectTipoFrete()
    }
    start();
</script> 
</html>